body {
    background-color: #a3d2f179;
}

header {
    margin: 3% 0% 3% 0%;
}
main {
    background-color: #FFFFFF;
    margin: 0% 10% 0% 10%;
}

.div-label {
    width: 40%;
    display: inline-block;
    text-align: right;  
}

.input-field {
  height: 20px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

#comments {
    height: 80px;
    padding: 0%;
    vertical-align: bottom;
}
.radiobox, .checkbox {
    display: inline-block;
    margin-left: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#title {
    text-align: center;
}

#submit {
        display:block;
        width:100px;
        margin:0 auto;
}
p {
    text-align: center;
}
